.container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 40%;
  height: max-content;
  filter: drop-shadow(0 0 0.7rem grey);
  background-color: var(--primary-bg-color);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

@media only screen and (min-width: 450px) {
  .container {
    padding: 1rem;
  }
}

.chartTitle {
  text-align: center;
  margin-bottom: 0;
}
