.container {
  display: grid;
  grid-template-columns: min-content auto;
  place-items: center;
  width: 90%;
  padding: 0.5rem;
  border-radius: var(--default-border-radius);
  border: solid 3px var(--primary-color);
}

.search {
  width: 90%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 1rem;
  color: var(--secondary-text-color);
}
