.navigationBar {
  position: fixed;
  bottom: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  padding-top: 0.5rem;
  background-color: var(--primary-bg-color);
  height: 8rem;
}

.homeCircle {
  border-radius: 50%;
  width: max-content;
  height: max-content;
  padding: 1rem;
  margin: 0 1rem;
}

.homeCircleActive {
  filter: drop-shadow(0 0 0.5rem black);
  background-color: var(--primary-color);
}

.homeCircleInactive {
  background-color: var(--primary-color-light);
}
