*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-font);
}

:root {
  --primary-bg-color: #fafcff;
  --secondary-bg-color: #e4e4e4;
  --primary-color: #51abff;
  --primary-color-light: #a6cee3;
  --primary-text-color: black;
  --secondary-text-color: #858585;
  --input-bg-color: #d2edc8;
  --primary-font: 'Roboto', sans-serif;
  --default-border-radius: 1rem;
}
